<div class="container">
    <h1>Notas de estudiantes</h1>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Materia 1</th>
                    <th>Materia 2</th>
                    <th>Materia 3</th>
                    <th>Promedio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let alumno of alumnos">
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellido}}</td>
                    <td>{{alumno.materiaUno}}</td>
                    <td>{{alumno.materiaDos}}</td>
                    <td>{{alumno.materiaTres}}</td>
                    <td>{{alumno.promedio}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>